.avatarImage{
	width: 10rem;
	height: auto;
	align-self: center;
}
.loginButton{
	width: min(83%, 15rem);
	height: 3rem;
	font-size: 1.5rem;
}
.loginFormMobile {
	border-top: 0.3rem solid black;
	padding-top: 0.5rem;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.loginFormDesktop{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.passwordInput{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: inherit;
	margin: 1rem 0;
}