.dataPanel{
	background-color: white;
	display:grid;
	align-items: flex-start;
	justify-content: flex-start;
	grid-template-columns: 1fr 1fr;
	border: solid black 0.3rem;
	border-radius: 1rem;
	padding: 0.5rem;
	min-width: 20rem;
	max-height: 12rem;
	cursor: pointer;
}
.myDataPanelHeader{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.myDataPanelGraph{
	display: flex;
	overflow: hidden;
}