.programGrid{
	display:grid;
	margin-top: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(22rem, auto));
	gap: 1rem
}
.addProgramButton{
	height: 5rem;
	width: 10rem;
	font-size: 2rem;
}
.addProgramSection{
	display:flex;
	align-items: center;
	justify-content: center;
}