
h3, p{
	text-align: left;
}
header>h2, header>p{
	margin: 0.7rem 0.5rem;
}
.pill{
	display:flex;
	margin: 0.2rem;
}
.pill>*{
	border: 0.2rem solid black;
	border-left: none;
	border-radius: 0;
	margin: 0;
}
.pill>*:first-child{
	border-radius: 0.5rem 0 0 0.5rem;
	border-left: 0.2rem solid black;
}
.pill>*:last-child{
	border-radius: 0 0.5rem 0.5rem 0;
	border: 0.2rem solid black;
	border-left: none;
}
.pillText{
	line-height: 2rem;
	padding: 0 0.5rem;
}
.formDiv{
	margin: 1rem;
	width: 100%;
}
.formGrid{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.selectComponent{
	font-size :1rem;
	color: black;
	font-family: pangram, serif;
	border: 0.2rem solid black;
	border-radius: 0.5rem;
	margin: 0.2rem;
	text-align: var(--defaultTextAlign);
}