
h3, p{
	text-align: left;
}
header>h2, header>p{
	margin: 0.7rem 0.5rem;
}
#gradeInput{
	width: 1.5rem;
}
#dayInput, #monthInput, #yearInput {
	width: 2rem;
}
.pill{
	display:flex;
	margin: 0.2rem;
}
.pill>*{
	border: 0.2rem solid black;
	border-left: none;
	border-radius: 0;
	margin: 0;
}
.pill>*:first-child{
	border-radius: 0.5rem 0 0 0.5rem;
	border-left: 0.2rem solid black;
}
.pill>*:last-child{
	border-radius: 0 0.5rem 0.5rem 0;
	border: 0.2rem solid black;
	border-left: none;
}
.pillText{
	line-height: 2rem;
	padding: 0 0.5rem;
}
#heightInput, #weightInput {
	width: 3rem;
}
#postalCodeInput{
	width: 5rem;
}
.formDiv{
	margin: 1rem;
}
.formGrid{
	display:grid;
	grid-template-columns: repeat( auto-fit, minmax(25rem, auto) );;
}