.eventPanel{
	background-color: white;
	display:flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	border: solid black 0.3rem;
	border-radius: 1rem;
	padding: 0.5rem;
}
.eventPanel>*{
	margin: 0.2rem;
}

.eventPanelHeader{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.eventBubble{
	border-radius: 0.5rem;
	padding: 0.1rem 0.3rem;
	margin-right: 0.5rem;
	color: white;
	text-align: center;
}