.surveyHeader{
	text-align: left;
}
.surveyPagePanel{
	padding: 5rem; 
	background-color: #F8F8F8;
	border: 0.3rem solid black;
	border-radius: 1rem;
	margin: 0 2rem 2rem;
	width: min(90%, 40rem);
	box-sizing: border-box;
}
.surveyPagePanel>*{
	padding: 0.5rem;
}
.surveyForm{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.surveyButton{
	margin-top: 2rem;
	height: 2rem;
	font-size: 1rem;
	width: min(80%, 20rem);
}
