.surveyPanel{
	background-color: white;
	display:flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	border: solid black 0.3rem;
	border-radius: 1rem;
	padding: 0.5rem;
	cursor: pointer;
	min-width: 20rem;
}
.activeSurveyPanel{
	background-color: #D0F4C433;
}
.surveyPanel>*{
	margin: 0.2rem;
}
.surveyPanelHeader{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.surveyBubble{
	border-radius: 0.5rem;
	padding: 0.1rem 0.3rem;
	margin-right: 0.5rem;
	color: white;
	text-align: center;
}