.previewHeaderContainer{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}
.previewHeaderText{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.previewHeaderContainer>*{
	margin: 0 0.5rem 0 0;
}
.previewHeaderContainer hr{
	width: 30%;
}
.subPanelFlex{
	display: flex;
	overflow:scroll;
}
.subPanelFlex>*{
	margin: 0.5rem;
}
.dashboardPreviewAddSection{
	display: flex;
	align-items: center;
	justify-content: center;
}
.dashboardPreviewAddButton{
	height: 5rem;
	width: 10rem;
	font-size: 2rem;
}