.previewHeaderContainer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.previewHeaderContainer>*{
	margin: 0 0.5rem 0 0;
}
.previewHeaderContainer hr{
	width: 30%;
}
.subPanelFlex{
	display: flex;
	overflow: hidden;
	width: 10000%
}
.subPanelFlex>*{
	margin: 0.5rem;
	width: min(100%, 18rem);
}