.scanCardButton{
	height: 3rem;
	font-size: 2rem;
	width: min(80%, 20rem);
}
.qrCodePNG{
	height: 8rem;
	width: auto;
}
.QRPageDesktop p{
	text-align: center;
}
.QRInfoPanel{
	display: flex;
	flex-direction: column;
	align-items: center;
}