.passwordFormInput{
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: inherit;
	width: 100%;
}
.passwordInput, .password2Input{
	width: min(80%, 15rem);
	margin-top: 0.2rem
}
.passwordContainer{
	display: flex;
	flex-direction: column;
	align-items: var(--defaultTextAlign);
} 