.questionIndexBubble{
	text-align: center;
	margin: 0.5rem;
	border-radius: 50%;
	height: 2rem;
	line-height: 2rem;
	width: 2rem;
	background-color: black;
	color: white;
}
.questionInput, .questionTextarea{
	width: 100%;
}
.questionChoice{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.questionChoices{
	display: flex;
	flex-direction: column;
	margin: 0 3rem;
}
.questionPrompt{
	display:flex;
	align-items: center;
	justify-content: flex-left;
}