.eventDetailsGrid{
	display:grid;
	margin-top: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(12rem, auto));
	gap: 1rem;
	width: 50%;
}
.eventDetailsPanel{
	background-color: white;
	display:flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-start;
	border: solid black 0.3rem;
	border-radius: 1rem;
	padding: 0.5rem;
	max-width: 300px;
}
.eventImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 0%;
}