.avatarProfile{
	border-radius: 50%;
	border: 0.3rem solid black;
}
.dashboardLinkSection{
	cursor: pointer;
	padding: 1rem;
	display:flex;
	flex-basis:auto;
	align-items: flex-start;
	border: 0.2rem solid black;
	margin: 1rem;
	border-radius: 1rem;
	min-width: 18rem;
}
.dashboardLinkSection.pink:hover, .dashboardLinkSection.pink:active{
	border: 0.2rem solid pink;
}
.dashboardLinkSection.purple:hover, .dashboardLinkSection.purple:active{
	border: 0.2rem solid rgb(141, 96, 205);
}
.dashboardLinkSection.blue:hover, .dashboardLinkSection.blue:active{
	border: 0.2rem solid skyblue;
}
.dashboardLinkSection.green:hover, .dashboardLinkSection.green:active{
	border: 0.2rem solid lightgreen;
}
.dashboardLinkIcon{
	height: 4rem;
}
.dashboardLinkArrow {
	height: 1rem;
	align-self: flex-end;
	justify-self: end;
}
.dashboardContainerMobile{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 1rem;
}
.dashboardFlexContainer {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: stretch;
}
.dashboardGridContainer {
	display:grid;
	grid-template-columns: repeat( auto-fit, minmax(35rem, auto) );;
	align-items:flex-start;
	justify-content: stretch;
	row-gap: 1rem;
	width: 100%;
}
.dashboardGridContainer>*{
	height: 100%;
	box-sizing: border-box;
}
.pink{background-color: #F9EEF3;}
.purple{background-color: #D0C8FF;}
.blue{background-color: #B1E0FC;}
.green{background-color: #D0F4C4;}
